*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#0f172a;
    color:#e2e8f0;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    background:#0b1220;
    position:sticky;
    top:0;
}

.navbar a{
    color:#93c5fd;
    margin-left:20px;
    text-decoration:none;
}

/* Hero */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px 60px;
}

.hero-text{
    max-width:50%;
}

.hero-text h1{
    font-size:3rem;
}

.hero-text span{
    color:#60a5fa;
}

.hero-text h3{
    margin:15px 0;
    font-weight:normal;
}

.buttons{
    margin-top:20px;
}

.btn{
    padding:12px 25px;
    border:1px solid #60a5fa;
    margin-right:10px;
    text-decoration:none;
    color:white;
    border-radius:6px;
}

.primary{
    background:#2563eb;
    border:none;
}

/* Image */
.hero-img img{
    width:350px;
    border-radius:12px;
}

/* Sections */
.section{
    padding:80px 60px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    width:300px;
}

.skills span{
    background:#1e40af;
    padding:10px 18px;
    margin:8px;
    display:inline-block;
    border-radius:20px;
}
